body{
    margin: 0;
    padding: 0;

}

.tab a.nav ul li.active.tab a.active{
    border-bottom: solid 2px #fff;
    background-color: transparent;
}

.tab a.active{
    border-bottom: solid 2px #fff;
}

.tab a.nav ul li.active{
    border-bottom: solid 2px #fff;
    background-color: transparent;
}

.formatar{
    color: black;
}

.container{
    font-size: 13px;
    color: black;
    width: 300px;
    background-color: black;
}